process {
  container = 'google/deepvariant:latest'
}

profiles {

  local {
    process.executor = 'local'
    docker.enabled = false
  }

  k8s {
    workDir = '/mnt/shared/work'
    process.executor = 'k8s'
    process.pod = [ [emptyDir: [:], mountPath: '/scratch'] ]

    k8s {
      
      storageClaimName = 'shared-pvc'
      storageMountPath = '/mnt/shared'
      computeResourceType = 'Job'
    }
  }
}

